<?xml version="1.0" encoding="utf-8"?>
<!-- Note: This web.config is for Windows App Service with IIS -->
<!-- For Linux App Service, this file is not needed -->
<configuration>
  <system.webServer>
    <!-- Redirect all requests to the Django app -->
    <rewrite>
      <rules>
        <rule name="DjangoHandler" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
